.contact{
padding:80px 0;
}

.contact-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:50px;
}

form{
display:flex;
flex-direction:column;
gap:15px;
}

input,
textarea{
padding:15px;
border:1px solid #ddd;
border-radius:6px;
}

textarea{
height:180px;
resize:none;
}

@media(max-width:768px){

.contact-grid{
grid-template-columns:1fr;
}

}